div#map-container(ng-controller="mapController")
  h2 Map
  div.table-container
    table
      tr(ng-repeat="column in spaces")
        td(ng-right-click="spaceMenu(space)" ng-repeat="space in column" class="borders-{{space.borders}}")
          p {{space.x}},{{space.y}}

  button(ng-click="generateMap()") Generate Map