script(src="/javascripts/libs/jquery/jquery.min.js")
script(src="//cdn.firebase.com/v0/firebase.js")
script(src="/javascripts/libs/angular/angular.min.js")
script(src="//cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js")

script(src="/javascripts/libs/underscore/underscore-min.js")

script(src="/javascripts/app.js")
script(src="/javascripts/filters/chatFilter.js")
script(src="/javascripts/controllers/chatcontroller.js")