border = 1px solid lightgrey
walls = 2px solid black

body
  padding: 10px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

h1
  margin: 5px

a
  color: #00B7FF

.example
  color: #333
  font-size: 0.8em

#chat-container
  float: left

  ul
    list-style: none
    padding: 0

    li
      padding: 2px

    li:nth-child(odd)
      background-color: #eee;

  input
    width: 100%

  span.example
    width: 100%

#map-container
  float: right
  width: 600px

  table
    width: 100%
    border: border
    border-collapse: collapse

    td
      border: border
      border-collapse: collapse
      text-align: center

    td.borders-1111
      border: walls