body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

#chat-container
  width: 300px
  float: left

  ul
    list-style: none
    padding: 0

    li
      padding: 2px

    li:nth-child(odd)
      background-color: #eee;

  input
    width: 100%

  span.example
    width: 100%

.example
  color: #333
  font-size: 0.8em